# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [7]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [9]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [10]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

DataFrame Columns are just Series

In [11]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [12]:
df['new'] = df['W'] + df['Y']

In [13]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

** Removing Columns**

In [14]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [15]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [16]:
df.drop('new',axis=1,inplace=True)

In [17]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Can also drop rows this way:

In [18]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

** Change column order **

In [19]:
df = df[['Y', 'Z', 'X', 'W']]
df

          Y         Z         X         W
A -1.706086 -1.159119  1.693723  0.302665
B  0.166905  0.184502  0.390528 -0.134841
C  0.638787  0.329646  0.072960  0.807706
D -0.943406  0.484752 -0.754070 -0.497104
E  0.238127  1.996652  1.901755 -0.116773

** Selecting Rows**

In [20]:
df.loc['A']

Y   -1.706086
Z   -1.159119
X    1.693723
W    0.302665
Name: A, dtype: float64

Or select based off of position instead of label

In [23]:
df.iloc[2]

Y    0.638787
Z    0.329646
X    0.072960
W    0.807706
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [24]:
df.loc['B','Y']

0.16690463609281317

In [25]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [30]:
df

          Y         Z         X         W
A -1.706086 -1.159119  1.693723  0.302665
B  0.166905  0.184502  0.390528 -0.134841
C  0.638787  0.329646  0.072960  0.807706
D -0.943406  0.484752 -0.754070 -0.497104
E  0.238127  1.996652  1.901755 -0.116773

In [31]:
df>0

       Y      Z      X      W
A  False  False   True   True
B   True   True   True  False
C   True   True   True   True
D  False   True  False  False
E   True   True   True  False

In [32]:
df[df>0]

          Y         Z         X         W
A       NaN       NaN  1.693723  0.302665
B  0.166905  0.184502  0.390528       NaN
C  0.638787  0.329646  0.072960  0.807706
D       NaN  0.484752       NaN       NaN
E  0.238127  1.996652  1.901755       NaN

In [33]:
df[df['W']>0]

          Y         Z         X         W
A -1.706086 -1.159119  1.693723  0.302665
C  0.638787  0.329646  0.072960  0.807706

In [34]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [35]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

For two conditions you can use | and & with parenthesis:

In [37]:
df[(df['W']>0) & (df['Y']>1)]

Empty DataFrame
Columns: [Y, Z, X, W]
Index: []

In [38]:
df['W']>0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [39]:
df['Y']>1

A    False
B    False
C    False
D    False
E    False
Name: Y, dtype: bool

In [40]:
(df['W']>0) & (df['Y']>1)

A    False
B    False
C    False
D    False
E    False
dtype: bool

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [41]:
df

          Y         Z         X         W
A -1.706086 -1.159119  1.693723  0.302665
B  0.166905  0.184502  0.390528 -0.134841
C  0.638787  0.329646  0.072960  0.807706
D -0.943406  0.484752 -0.754070 -0.497104
E  0.238127  1.996652  1.901755 -0.116773

In [42]:
# Reset to default 0,1...n index
df.reset_index()

  index         Y         Z         X         W
0     A -1.706086 -1.159119  1.693723  0.302665
1     B  0.166905  0.184502  0.390528 -0.134841
2     C  0.638787  0.329646  0.072960  0.807706
3     D -0.943406  0.484752 -0.754070 -0.497104
4     E  0.238127  1.996652  1.901755 -0.116773

In [52]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [53]:
df['States'] = newind

C:\Users\Omri\Anaconda2\envs\python3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
df

               Y         Z         X         W
States
CA     -1.706086 -1.159119  1.693723  0.302665
NY      0.166905  0.184502  0.390528 -0.134841
WY      0.638787  0.329646  0.072960  0.807706
OR     -0.943406  0.484752 -0.754070 -0.497104
CO      0.238127  1.996652  1.901755 -0.116773

In [47]:
df.set_index('States')

               Y         Z         X         W
States
CA     -1.706086 -1.159119  1.693723  0.302665
NY      0.166905  0.184502  0.390528 -0.134841
WY      0.638787  0.329646  0.072960  0.807706
OR     -0.943406  0.484752 -0.754070 -0.497104
CO      0.238127  1.996652  1.901755 -0.116773

In [48]:
df

          Y         Z         X         W States
A -1.706086 -1.159119  1.693723  0.302665     CA
B  0.166905  0.184502  0.390528 -0.134841     NY
C  0.638787  0.329646  0.072960  0.807706     WY
D -0.943406  0.484752 -0.754070 -0.497104     OR
E  0.238127  1.996652  1.901755 -0.116773     CO

In [49]:
df.set_index('States',inplace=True)

In [50]:
df

               Y         Z         X         W
States
CA     -1.706086 -1.159119  1.693723  0.302665
NY      0.166905  0.184502  0.390528 -0.134841
WY      0.638787  0.329646  0.072960  0.807706
OR     -0.943406  0.484752 -0.754070 -0.497104
CO      0.238127  1.996652  1.901755 -0.116773

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [54]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [55]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [56]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [40]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [41]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [42]:
df.index.names

FrozenList([None, None])

In [43]:
df.index.names = ['Group','Num']

In [44]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [45]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [46]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [47]:
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

** Transpose a DataFrame **

In [49]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [57]:
df.T

         G1                            G2
          1         2         3         1         2         3
A -0.993263 -1.136645  1.025984 -0.031579  2.154846 -0.755325
B  0.196800  0.000366 -0.156598  0.649826 -0.610259 -0.346419

## DataFrame Info

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6 entries, (G1, 1) to (G2, 3)
Data columns (total 2 columns):
A    6 non-null float64
B    6 non-null float64
dtypes: float64(2)
memory usage: 180.0+ bytes